<% include partials/header %>
<header class="masthead" style="background-image: url('/img/contact-min.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Contact Me</h1>
              <span class="subheading">Have questions? I have answers.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% records.forEach(function(record){ %>
            <div class="col-md-3 col-sm-6">
                       <h4>Date:<%= record.date %></h4>
                       <h4>Sleep:<%= record.sleep %></h4>
                       <h4>Work:<%= record.work %></h4>
                       <h4>Sport:<%= record.sport %></h4>
                       <h4>Leisure:<%= record.leisure %></h4>
                   <p>
                       <a href="/records/<%= record._id %>" class="btn btn-primary">More Info</a>
                   </p>
            </div>
        <% }); %>
    </div>
<% include partials/footer %>