<% include partials/header %>
<header class="masthead" style="background-image: url('/img/track-min.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>The detail infomation of the person</h1>
              <span class="subheading">Personal information and tracking records</span>
            </div
          </div>
        </div>
      </div>
    </header>
    
    

    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-11 mx-auto">
          <p>Name: <%= workaholic.name %></p>
          <p>Email: <%= workaholic.email %></p>
          <p>Gender: <%=  workaholic.gender %></p>
          <p>Age: <%= workaholic.age %></p>
          <p>Relation: <%= workaholic.relation %></p>
          <p>Occupation: <%= workaholic.occupation %></p>
          <p>Hobby: <%= workaholic.hobby %></p>
          <br>
          <% if(currentUser && workaholic.user.id.equals(currentUser._id)){ %>
          <a class="btn btn-xs btn-warning" href="/workaholics/<%= workaholic._id %>/edit">Edit workaholic</a>
          <form id="delete-form" action="/workaholics/<%= workaholic._id %>?_method=DELETE" method="POST">
              <button class="btn btn-xs btn-danger">Delete workaholic</button>
          </form>
          <% }%>
          <hr>
          <a href = "/workaholics/<%= workaholic._id %>/dailys/new" class="btn btn-success">Add new daily tracks</a>
          <br>
          <p>      </p>
          <br>
          <% var familysum = 0;  %> 
          <% var familycount = 0;  %> 
          <% workaholic.dailys.forEach(function(daily){ %>
          <% familysum += daily.family;  %> 
          <% familycount += 1;  %> 
          <% }); %>
          <% var familyavg = familysum/familycount  %>
          
          <% var hobbysum = 0;  %> 
          <% var hobbycount = 0;  %> 
          <% workaholic.dailys.forEach(function(daily){ %>
          <% hobbysum += daily.hobbies;  %> 
          <% hobbycount += 1;  %> 
          <% }); %>
          <% var hobbyavg = hobbysum/hobbycount  %>
          
        <h1><%= workaholic.name %> spend <%= familyavg %> hours everyday on family</h1>
        <h1><%= workaholic.name %> spend <%= hobbyavg %> hours everyday on family</h1>
          <table class="display" id="example" style="width:100%">
        <thead>
            <tr>
                <th>Date</th>
                <th>Family (hour)</th>
                <th>Hobby (hour)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
          <% workaholic.dailys.forEach(function(daily){ %>
            <tr>
                <td><%= daily.date %></td>
                <td><%= daily.family %></td>
                <td><%= daily.hobbies %></td>
                <td>
                    <!--<a type = "button" class="btn btn-info" href="/workaholics/<%=workaholic._id %>/dailys/<%=daily._id %>/show">Detail</a>-->
                    <a type = "button" class="btn btn-warning " href="/workaholics/<%=workaholic._id %>/dailys/<%=daily._id %>/edit">Edit</a>
                    <form id="delete-form" action="/workaholics/<%=workaholic._id %>/dailys/<%=daily._id %>?_method=DELETE" method="POST">
                          <input type="submit" value = "Delete" type = "button" class="btn btn-danger">
                    </form>
                </td>
            </tr>
            <% }) %>
            </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
          
          
        </div>
      </div>
    </div>
<% include partials/footer %>