<% include partials/header %>
<header class="masthead" style="background-image: url('/img/track-min.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Get started </h1>
              <span class="subheading">Get started by creating a profile for your loved one. This page shows the information about the people you want to help achieve a better work life balance. 
              Recording your loved one's time spent on family and hobbies is a good starting point to make sure they're enjoying life while also working</span>
            </div>
          </div>
        </div>
      </div>
    </header>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
        <div class="thumbnail">
                   <img  src="/img/memory-min.jpeg" style = "width:100%">
        </div>
    </div>
    <div class="col-sm-6">
      <h2 class="section-heading">Family time</h2>
      <p>"A happy family is but an earlier heaven." ― George Bernard Shaw</p>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2 class="section-heading">Hobby</h2>
      <p>“You never lose a dream, it just incubates as a hobby.” ― Larry Page </p>
    </div>
    <div class="col-sm-6">
        <div class="thumbnail">
                   <img  src="/img/hobbies-min.jpeg" style = "width:100%">
        </div>
    </div>
  </div>
</div>

<hr>

    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto"> 
    <a href="/workaholics/newWorkaholic" class="btn btn-success">Add person you want to track</a> 
        </div>
      </div>
    </div>

<hr>

<div class="container">
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% workaholics.forEach(function(workaholic){ %>
        <% if(currentUser && workaholic.user.id.equals(currentUser._id)){ %>
            <div class="col-md-4 col-sm-6">
                       <p>Name: <%= workaholic.name %></p>
                       <p>Email: <%= workaholic.email %></p>
                       <p>Gender: <%= workaholic.gender %></p>
                       <p>Age: <%= workaholic.age %></p>
                       <p>Relation: <%= workaholic.relation %></p>
                       <p>Occupation: <%= workaholic.occupation %></p>
                       <p>hobby: <%= workaholic.hobby %></p>
                   <p>
                       <a href="/workaholics/<%= workaholic._id %>" class="btn btn-primary">Tracking records</a>
                   </p>
            </div>
        <% } %>
        <% }); %>
      </div>
    </div>
<% include partials/footer %>