<% include ../partials/header %>
<header class="masthead" style="background-image: url('/img/life-min.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Add new workaholic</h1>
              <span class="subheading">please enter the information of the workaholic that you want to track</span>
            </div>
          </div>
        </div>
      </div>
    </header>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit the daily record </h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/workaholics/<%= workaholic_id %>/dailys/<%= daily._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="daily[date]" value="<%= daily.date %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="daily[careofchildren]" value="<%= daily.careofchildren %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="daily[teachhelpchildren]" value="<%= daily.teachhelpchildren %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="daily[playreadtalkwithchildren]" value="<%= daily.playreadtalkwithchildren %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="daily[socialcommunity]" value="<%= daily.socialcommunity %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="daily[sportoutdoor]" value="<%= daily.sportoutdoor %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="daily[hobbyarts]" value="<%= daily.hobbyarts %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="daily[media]" value="<%= daily.media %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="daily[talkingreadingwriting]" value="<%= daily.talkingreadingwriting %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/workaholics">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>

