<% include ../partials/header %>
<header class="masthead" style="background-image: url('/img/daily-min.jpeg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Add new daily tracking record</h1>
              <span class="subheading">please enter the information of how workaholic spend his/her day</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-lg-8 col-md-10 mx-auto">-->
<!--        <h1 style="text-align: center">Add new record to <%= workaholic.name %></h1>-->
        <!--<div style="width: 30%; margin: 25px auto;">-->
<!--            <form action="/workaholics/<%= workaholic._id %>/dailys" method="POST">-->
<!--                <div class="form-group">-->
<!--                    <input class="form-control" type="text" name="daily[date]" placeholder="date">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <input class="form-control" type="text" name="daily[careofchildren]" placeholder="careofchildren">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <input class="form-control" type="text" name="daily[teachhelpchildren]" placeholder="teachhelpchildren">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <input class="form-control" type="text" name="daily[playreadtalkwithchildren]" placeholder="playreadtalkwithchildren">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <input class="form-control" type="text" name="daily[socialcommunity]" placeholder="socialcommunity">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <input class="form-control" type="text" name="daily[sportoutdoor]" placeholder="sportoutdoor">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <input class="form-control" type="text" name="daily[hobbyarts]" placeholder="hobbyarts">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <input class="form-control" type="text" name="daily[media]" placeholder="media">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <input class="form-control" type="text" name="daily[talkingreadingwriting]" placeholder="talkingreadingwriting">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>-->
<!--                </div>-->
<!--            </form>-->
<!--            <a href="/workaholics/<%= workaholic._id %>">Go Back</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">  
            <h1 style="text-align: center">Add new record to <%= workaholic.name %></h1>
            <form action="/workaholics/<%= workaholic._id %>/dailys" method="POST">
                <div class="form-group">
                  <label for="datepicker">Date</label>
                  <input type="text" class="form-control" id="datepicker" name="daily[date]" placeholder="date">
                </div>
                <div class="form-group">
                  <label for="inputCoc">Physical and emotional care of children</label>
                  <input type="number" class="form-control" id="inputCoc" name="daily[careofchildren]" placeholder="careofchildren">
                </div>
              <div class="form-group" >
                <label for="inputTeach">Teaching/helping/reprimanding children</label>
                <input type="number" class="form-control" id="inputTeach" name="daily[teachhelpchildren]" placeholder="teachhelpchildren">
              </div>
              <div class="form-group">
                <label for="inputPrt">Playing/reading/talking with child</label>
                <input type="number" class="form-control" id="inputPrt" name="daily[playreadtalkwithchildren]" placeholder="playreadtalkwithchildren">
              </div>
              <div class="form-group">
                  <label for="inputSocial">Social and community interaction</label>
                  <input type="number" class="form-control" id="inputSocial" name="daily[socialcommunity]" placeholder="socialcommunity">
                </div>
                <div class="form-group">
                  <label for="inputSport">Sport and outdoor activity</label>
                  <input type="number" class="form-control" id="inputSport" name="daily[sportoutdoor]" placeholder="sportoutdoor">
                </div>
              <div class="form-group" >
                <label for="inputArts">Games,hobbies,arts,crafts</label>
                <input type="number" class="form-control" id="inputAgrts" name="daily[hobbyarts]" placeholder="hobbyarts">
              </div>
              <div class="form-group">
                <label for="inputMedia">Audio/visual media</label>
                <input type="number" class="form-control" id="inputMedia" name="daily[media]" placeholder="media">
              </div>
              <div class="form-group">
                <label for="inputTw">Talking (including phone) or writing/reading own correspondence</label>
                <input type="number" class="form-control" id="inputTw" name="daily[talkingreadingwriting]" placeholder="talkingreadingwriting">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <a href="/workaholics/<%= workaholic._id %>">Go Back</a>
        </div>
    </div>
</div>
// <script>
//         $('#datepicker').datepicker({
//             uiLibrary: 'bootstrap'
//         });
//     </script>
<% include ../partials/footer %>

